*{
    font-family: fancy;
}


body{
    background-image: url(photos/bkgroundpic.jpeg);
}
header{
    
    border: solid 4px rgba(128, 104, 104, 0.5) ;
    background-color: rgba(128, 104, 104, 1) ;
}

h1{
    text-align: center;
    font-size: 150%;
    font-weight: 500;
    font-family: fantasy;
    color: antiquewhite;
    letter-spacing: 10px;
}


nav{
    
    height: 50px;
    text-align: right;
    text-decoration: solid;
    font-size: 100%;
    font-weight: bold;
    font-family: fantasy;
    color: rgb(168, 145, 145);
}

p{
    height: 8px;
    text-align: right;
    text-decoration: solid;
    font-size: 19px;
    font-family: fantasy;
    color: rgb(118, 106, 106);
    letter-spacing: 10px;
}

select{
    font-size: 18px;
}



h2{
    text-align: left;
    text-decoration: solid;
    font-size: 120%;
    font-weight: bold;
    font-family: fantasy;
    color: rgb(183, 115, 115);
}





img{
    width: 30%;
    height: auto;
    border-radius: 20%;
    /* left: 300px; */
    
}

.mainContent{
    display: flex;
    justify-content: center;
}

h2{
    margin-left: 25px;
}

section{
    width:30%;
    border: 10px solid pink ;
    background: 20px ;
    background-color: rgb(240, 224, 226);
    margin:2px;
    padding: 10px 20px;
    border-radius: 10%;
    display: inline-block;

}
.ingredients{
    display: flex;
}

.row2{
    padding-left: 50px;
}
section li{
    color: rgb(167, 120, 58);
    font-weight: 600;
    line-height: 1.8rem;
}

article{
    line-height: 30px;
    border: 3px solid rgb(245, 204, 204) ;
    background-color: rgb(238, 227, 227) ;
    
}

article li{
    color: rgb(143, 84, 59);
    font-weight: 700;
}


footer{
    text-align: center;
}

footer a{
    color: rgb(137, 47, 47);
 }


